{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - BBBootstrap</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    <link href='' rel='stylesheet'>
</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Email verification</h5>
            <span class="mobile-text">Enter the code we just send to <b class="text-danger">{{email}}</b></span>
            <div class="d-flex flex-row mt-5">
                <form action="{% url 'chpass' %}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" class="form-control" autofocus="" name="ver">
                    <input type="hidden" name="email" value={{email}} />
                    <input type="hidden" name="OTP" value={{OTP}} />
                    <br />
                    <button type="submit" class="form-control" style="cursor:pointer; border:none;background:none;"><span class="font-weight-bold text-warning">Verify</span></div></button>
                </form>
                <div class="text-center mt-5">
                    <span class="d-block mobile-text">Don't receive the code?</span>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" value={{email}} name="email"/>
                        <button type="submit" style="cursor:pointer; border:none;background:none;"><span class="font-weight-bold text-danger">Resend</span></div></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
</html>