{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Meal Management</title>  
    <meta name="keywords" content="Cafeteria, Order">
    <meta name="description" content="Cafeteria for Oromia Bureaus employees and customers">
    <meta name="author" content="JIT students">

    <!-- Site Icons -->
    <link rel="icon" type="image/png" href="{% static 'img/icons/logo.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
	  <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="{% static 'css/table.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/regist.css' %}" type="text/css" rel="stylesheet" />
    <style type="text/css">
      .autohide{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
      }
      .scrolled-down{
        transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
      }
    
    </style>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(){
        
        el_autohide = document.querySelector('.autohide');
        
        // add padding-top to bady (if necessary)
        navbar_height = document.querySelector('.top-navbar').offsetHeight;
        document.body.style.paddingTop = navbar_height + 'px';
    
        if(el_autohide){
          
          var last_scroll_top = 0;
          window.addEventListener('scroll', function() {
               let scroll_top = window.scrollY;
             if(scroll_top < last_scroll_top) {
              el_autohide.classList.remove('scrolled-down');
              el_autohide.classList.add('scrolled-up');
            }
            else {
              el_autohide.classList.remove('scrolled-up');
              el_autohide.classList.add('scrolled-down');
            }
            last_scroll_top = scroll_top;
    
          }); 
          // window.addEventListener
    
        }
        // if
        
      }); 
      // DOMContentLoaded  end
    
    
    </script>

</head>

<body>
	<!-- Start header -->
	<header class="autohide top-navbar navbar">
		<nav class="autohide navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Order</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'ordermg' %}">Verify Order</a>
								<a class="dropdown-item" href="{% url 'orderdet' %}">Order History</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="{% url 'menumg' %}">Menu</a></li>
						<li class="nav-item active"><a class="nav-link" href="{% url 'meal' %}">Meal</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url 'employee' %}">Employee</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url 'purchases' %}">Purchases</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'customer' %}">Customer</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report' %}">Report</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
  <br />
  <br />
  <br /><br />
  <div>
    <div class="d1">
      <div>
        <table class="styled-table">
          <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="money">Price</th>
                <th class="money">Description</th>
              </tr>
          </thead>
          <tbody>
            {%for meal in meals%}
            <tr>
              <th scope="row">{{meal.id}}</th>
              <td>{{meal.name}}</td>
              <td>{{meal.price}}</td>
              <td>{{meal.desc}}</td>
            </tr>
            {% endfor %} 
              <!-- and so on... -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="d1">
      <div class="d2">
        <button class="btt" onclick="openForm()">+</button>
        <div class="form_wrapper"  id="myForm">
          <div class="form_container">
            <div class="title_container">
              <h2>Add Meal</h2>
            </div>
            <div class="row clearfix">
              <div class="">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.as_p}}
                  {% comment %} <div class="input_field"> <span><i aria-hidden="true" class="fa fa-book"></i></span>
                    <input type="text" name="name" placeholder="Name" required />
                  </div>
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-money"></i></span>
                    <input type="text" name="price" placeholder="Price" required />
                  </div>
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-book"></i></span>
                    <input type="text" name="desc" placeholder="Describtion" required />
                  </div>
                  <div class="input_field select_option">
                    <select name="menu">
                      {% for menu in menus %}
                      <option value={{menu.name}}>{{menu.name}}</option>
                      {% endfor %}
                    </select>
                    <div class="select_arrow"></div>
                  </div>
                  <div class="input_field">
                    <input type="file" name="image" placeholder="image" required />
                  </div> {% endcomment %}
                  
                  <input class="button" type="submit" value="Add" />
                  <button type="button" class="button" style="width: 100% !important; background-color:red; color:white" onclick="closeForm()">Close</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      <div>
        {% for message in messages %}
        <h3 class="message">{{message}}</h3>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Start Footer -->
  	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container" id="about">
			<div class="row">
				<div class="col-lg-3 col-md-8">
					<h3>About Us</h3>
					<p>Oromia Bureaus' Cafeteria is a non-profit organization established by the Oromia government to serve its customers.</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Contact information</h3>
					<p class="lead">Jimma University, Jimma, Ethiopia</p>
					<p class="lead"><a href="#">+251 115-65-65</a></p>
					<p><a href="#">obcafe22@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Opening hours</h3>
					<p><span class="text-color">Mon-Fri: </span> 8:Am - 5PM</p>
					<p><span class="text-color">Sat-Sun: </span>Closed</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Developed By</h3>
					<p class="lead">Abdellah Kamil</p>
					<p class="lead">Harun Abdulkadir</p>
					<p class="lead">Abdela Sabir</p>
					<p class="lead">Fuad Ali</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">Oromia Bureaus' Cafeteria</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
  <!-- End Footer -->

  <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

  <!-- ALL JS FILES -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
  <script src="{% static 'js/jquery.superslides.min.j' %}s"></script>
  <script src="{% static 'js/images-loded.min.js' %}"></script>
  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/baguetteBox.min.js' %}"></script>
  <script src="{% static 'js/form-validator.min.js' %}"></script>
  <script src="{% static 'js/contact-form-script.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
  </script>
</body>
</html>
