{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Order History</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> 
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/orderma.css' %}">
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'home' %}">
					<h3 style="color: #a00202;">Oromia Bureaus' Cafe</h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Order</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item active" href="{% url 'ordermg' %}">Verify Order</a>
								<a class="dropdown-item" href="{% url 'orderdet' %}">Order History</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="{% url 'menumg' %}">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'meal' %}">Meal</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url 'employee' %}">Employee</a></li>
						<li class="nav-item"><a class="nav-link " href="{% url 'purchases' %}">Purchases</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'customer' %}">Customer</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
  <br />
  
    <div class="Cart-Container">
        <div class="Header">
            <h3 class="Headi">Customers Order</h3>
            <form action="verall" id="Form3" method="post">
              {% csrf_token %}
              <h5 class="Action"><input class="verall" type="submit" form="Form3" value="Verify all"/></h5>
            </form>
        </div>
        
        {% for order in orders %}
        <div class="itemsv">
          <p class="itemn">{{order.item}}</p>
          <div class="lefbtn">
            <form action="" id="Form1" method="post">
              {% csrf_token %}
              <input type="hidden" form="Form1" name='idd' value={{order.id}} />
              <input class="ver" form="Form1" type="submit" name="verify" value="Verify" onclick="message({{order.item}},"Verified")"/>
            </form>
            <form action="remorder" id="Form2" method="post">
              {% csrf_token %}
              <input type="hidden" form="Form2" name="id" value={{order.id}} />
              <input class="blo" form="Form2" type="submit" name="verify" value="Block" onclick="message({{order.item}}, "Blocked")"/>
            </form>
          </div>
        </div>
        {% endfor %}
    </div>
<!-- Start Footer -->
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container" id="about">
			<div class="row">
				<div class="col-lg-3 col-md-8">
					<h3>About Us</h3>
					<p>Oromia Bureaus' Cafeteria is a non-profit organization established by the Oromia government to serve its customers.</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Contact information</h3>
					<p class="lead">Jimma University, Jimma, Ethiopia</p>
					<p class="lead"><a href="#">+251 115-65-65</a></p>
					<p><a href="#">obcafe22@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Opening hours</h3>
					<p><span class="text-color">Mon-Fri: </span> 8:Am - 5PM</p>
					<p><span class="text-color">Sat-Sun: </span>Closed</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Developed By</h3>
					<p class="lead">Abdellah Kamil</p>
					<p class="lead">Harun Abdulkadir</p>
					<p class="lead">Abdela Sabir</p>
					<p class="lead">Fuad Ali</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">Oromia Bureaus' Cafeteria</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.superslides.min.j' %}s"></script>
<script src="{% static 'js/images-loded.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/baguetteBox.min.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
  function openForm() {
      document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
      document.getElementById("myForm").style.display = "none";
  }
</script>
</body>
</html>
