{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="{% static 'img/icons/logo.ico' %}"/>
</head>
<body >
    <div style="width: 300px;">
        <h2 style="width: 300px; text-align: center; margin-top: 40px;">Oromia Bureaus' Cafeteria</h2>
        <h2 style="width: 300px; text-align: center; margin-bottom: 40px;">Report For {{days}}</h2>
        <h3 style="width: 300px; margin-left: 20px; text-align:left; margin-bottom: 100px">Date Generated: <u>{{date}}</u></h3>
        
        <table style="width: 300px; border: 2px solid black;">
            <tr style="text-align: left; padding: 3px;">
                <th>No_</th>
                <th>Description</th>
                <th>Result</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">1</th>
                <th style="text-align: left; width: 40%;">Number of orders</th>
                <th style="text-align: left; width: 20%;">{{orders}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">2</th>
                <th style="text-align: left; width: 40%;">Most sold meal</th>
                <th style="text-align: left; width: 20%;">{{most_sold}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">3</th>
                <th style="text-align: left; width: 40%;">Total purchase made in birr</th>
                <th style="text-align: left; width: 20%;">{{total_purchase}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">4</th>
                <th style="text-align: left; width: 20%;">Total sale in birr</th>
                <th style="text-align: left; width: 20%;">{{total_sale}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">5</th>
                <th style="text-align: left; width: 40%;">Number of blocked orders</th>
                <th style="text-align: left; width: 20%;">{{blocked_order}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">6</th>
                <th style="text-align: left; width: 40%;">Total number of customers who order online</th>
                <th style="text-align: left; width: 20%;">{{customer_orders}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">7</th>
                <th style="text-align: left; width: 40%;">Delivered orders</th>
                <th style="text-align: left; width: 20%;">{{delivered}}</th>
            </tr>
            <tr style="text-align: left; padding: 3px;">
                <th style="text-align: left; width: 10%;">8</th>
                <th style="text-align: left; width: 40%;">New customers joined the online system</th>
                <th style="text-align: left; width: 20%;">{{new_customers}}</th>
            </tr>
        </table>
    </div>
    <h4 style="margin-left: 40px; text-align:center; margin-top: 20px">Note: Make sure to print and keep the hard copy of it! </h4>
    <h4 style="margin-top: 200px;">Manager: {{manager}}</h4>
    <h4 style="display: inline;">Signature:________________</h4>
</body>
</html>