{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Order History</title>  
    <meta name="description" content="Oromia Bureaus' Cafeteria is a non-profit organization established by the Government Oromia to serve its customers.">
    <meta name="keywords" content="Oromia, order, food, cafeteria, cafe">
    <meta name="author" content="JIT students">
    <link rel="icon" type="image/png" href="{% static 'img/icons/logo.ico' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Orderui.css' %}">
    <link rel="stylesheet" href="{% static 'css/orderma.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/ordermg.css' %}">  {% endcomment %}
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
		.autohide{
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			z-index: 1030;
		}
		.scrolled-down{
			transform:translateY(-100%); transition: all 0.3s ease-in-out;
		}
		.scrolled-up{
			transform:translateY(0); transition: all 0.3s ease-in-out;
		}
	
	</style>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(){
			
			el_autohide = document.querySelector('.autohide');
			
			// add padding-top to bady (if necessary)
			navbar_height = document.querySelector('.top-navbar').offsetHeight;
			document.body.style.paddingTop = navbar_height + 'px';
	
			if(el_autohide){
				
				var last_scroll_top = 0;
				window.addEventListener('scroll', function() {
					   let scroll_top = window.scrollY;
				   if(scroll_top < last_scroll_top) {
						el_autohide.classList.remove('scrolled-down');
						el_autohide.classList.add('scrolled-up');
					}
					else {
						el_autohide.classList.remove('scrolled-up');
						el_autohide.classList.add('scrolled-down');
					}
					last_scroll_top = scroll_top;
	
				}); 
				// window.addEventListener
	
			}
			// if
			
		}); 
		// DOMContentLoaded  end
	
	
	</script>
</head>

<body>
    <!-- Start header -->
	<header>
		<nav class="autohide navbar navbar-expand-lg navbar-light">
			<section class="navbar custom-navbar navbar-fixed-top " style="width:100%" role="navigation">
                <div class="container">
      
                     <div class="navbar-header">
                          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                               <span class="icon icon-bar"></span>
                               <span class="icon icon-bar"></span>
                               <span class="icon icon-bar"></span>
                          </button>
                     </div>
      
                     <!-- MENU LINKS -->
                     <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav navbar-nav-first">
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="{% url 'home' %}">Home</a></li>
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="{% url 'menu' %}">Menu</a></li>
                               {% if user.is_authenticated %}
                               {% if not user.is_staff %}
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="{% url 'myorder' %}">MyOrder</a></li>
                               {% endif %}
                               {% else %}
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="{% url 'login' %}">Login</a></li>
                               {% endif %}
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="#about">About</a></li>
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="#contact">Contact</a></li>
                               <li style="color: black;"><a class="smoothScroll" style="font-size: 15px !important;" href="{% url 'comment' %}">Feedback</a></li>
                          </ul>
      
                          <ul class="nav navbar-nav navbar-right">
                               {% if not user.is_authenticated %}
                               <a style="font-size: 15px !important;" href="{% url 'register' %}" class="section-btn">Register</a>
                               {% else %}
                               <li><a style="font-size: 15px !important; color: black !important;" href="{% url 'profile' %}"><i class="fa fa-user"></i> {{user.first_name}} {{user.last_name}}</a></li>
                               <a style="font-size: 15px !important;" href="{% url 'logout' %}" class="section-btn">Logout</a>
                               {% endif %}
                          </ul>
                     </div>
      
                </div>
           </section>
		</nav>
		<div class="container" style="max-width: 720px">
	</header>
	<!-- End header -->
  <br />
  <br />
    <div class="Cart-Container">
        {% if has_order %}
        <h1></h1>
        <div class="text-center mt-5">
            <h1 class="no-item" style="color: blueviolet;">Order status: <u>{{order.status}}</u> </h1>
            <h1 class="no-item" style="color: blueviolet;">The order will be processed in a short time.</h1>
            <h1 class="no-item mt-5" style="color: green;">Thank you! for using our service..</h1>
        </div>
        {% elif not_empty %}
        <div class="Header">
            <h3 class="Headi">Shopping Cart</h3>
            <form id="Form3" action="{% url 'remallcart' %}" method="post">
                {% csrf_token %}
                
                <input type="hidden" form="Form3" name="removeall" value={{user.username}} />
                <h5 class="Action"><input type="submit" class="ver" form="Form3" value="Remove all"/></h5>
            </form>
        </div>
        <form id="Form1" action="{% url 'order' %}" method="post">
            {% csrf_token %}
            {% for cart in carts %}
            <div class="Cart-Items d-flex justify-content-between">
                <div class="d-flex">
                    <div class="image-box" style="display: inline !important;">
                        <img src={{cart.img}} class="big"  style="max-width: 50px !important;"/>
                    </div>
                    <div class="about d-flex" style=" margin-left: 60px !important; display: inline !important;">
                        <h1 class="title">{{cart.name}}</h1>
                        <input form="Form1" type="hidden" name="name" value={{cart.name}}  />
                        <img src="{% static 'img/green.png' %}" class="small" />
                    </div>
                </div>
                <div class="counter">
                    <div class="fw-bold text-1000 text-center" style="min-width: 25px !important;max-height: 25px !important; border-radius: 100%; cursor:pointer; background-color: green !important; color: white !important" onclick="add({{cart.id}},'add',{{cart.price}})">+</div>
                    <input form="Form1" type="text" class="count"  name="{{cart.name}}" value={{cart.quantity}} id="{{cart.id}}" />
                    <!-- <div class="count">2</div> -->
                    <div class="fw-bold text-1000 text-center" style=" min-width: 25px !important;max-height: 25px !important; border-radius: 100%; cursor:pointer; background-color: red !important; color: white !important" onclick="add({{cart.id}},'sub',{{cart.price}})">-</div>
                </div>
                <div class="prices mr-5">
                    <div class="amount">{{cart.price}}</div>
                    {% comment %} <div class="save"><u>Save for later</u></div> {% endcomment %}
                    <form id= "Form2" action="{% url 'remcart' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" form="Form2" name="name" value={{cart.name}} />
                        <input type="hidden" form="Form2"  name="customer" value={{cart.customer}} />
                        <div class="remove"><input form="Form2" class="remove" type="submit" value="Remove"/></div>
                    </form>
                </div>
            </div>
            {% endfor %}
            <hr >
            <div class="checkout">
                <div class="d-flex justify-content-between"><span class="fw-bold text-1000"><b>Delivery service? </b></span><input form="Form1" type="checkbox" name="delivery" /></div>
                <div class="total">
                    <div>
                        <div class="Subtotal">Sub-Total</div>
                        <div class="items">{{itm}} items</div>
                    </div>
                    <div class="total-amount" id="total-amount">{{total}}</div>Br.
                </div>
                <button form="Form1" type="submit" class="button">Checkout</button>
            </div>
        </form>
        {% else %}
        <div class="Header">
            <h3 class="Headi">Shopping Cart</h3>
            <form id="Form3" action="{% url 'remallcart' %}" method="post">
                {% csrf_token %}
                
                <input type="hidden" form="Form3" name="removeall" value={{user.username}} />
                <h5 class="Action"><input type="submit" class="ver" form="Form3" value="Remove all"/></h5>
            </form>
        </div>
        <div class="mt-8">
            <h2 class="no-item">You have no item in your basket</h2>
            <h3 class="no-item-red">To order please check our menu <a href="{% url 'menu' %}">here</a></h3>
        </div>
        {% endif %}
    </div>
<!-- Start Contact info -->
<div class="contact-imfo-box" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 arrow-right">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        +251 935-365-079
                    </p>
                </div>
            </div>
            <div class="col-md-4 arrow-right">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        obcafe22@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        Sarbet, Addis Ababa, Ethiopia
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container" id="about">
			<div class="row">
				<div class="col-lg-3 col-md-8">
					<h3>About Us</h3>
					<p>Oromia Bureaus' Cafeteria is a non-profit organization established by the Oromia government to serve its customers.</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Contact information</h3>
					<p class="lead">Jimma University, Jimma, Ethiopia</p>
					<p class="lead"><a href="#">+251 115-65-65</a></p>
					<p><a href="#"> obcafe22@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Opening hours</h3>
					<p><span class="text-color">Mon-Fri: </span> 8:Am - 5PM</p>
					<p><span class="text-color">Sat-Sun: </span>Closed</p>
				</div>
				<div class="col-lg-3 col-md-8">
					<h3>Developed By</h3>
					<p class="lead">Abdellah Kamil</p>
					<p class="lead">Harun Abdulkadir</p>
					<p class="lead">Abdela Sabir</p>
					<p class="lead">Fuad Ali</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">Oromia Bureaus' Cafeteria</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
  <!-- End Footer -->

  <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

  <!-- ALL JS FILES -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
  <script src="{% static 'js/jquery.superslides.min.j' %}s"></script>
  <script src="{% static 'js/images-loded.min.js' %}"></script>
  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/baguetteBox.min.js' %}"></script>
  <script src="{% static 'js/form-validator.min.js' %}"></script>
  <script src="{% static 'js/contact-form-script.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- SCRIPTS -->
  <script src="{% static 'home/js/jquery.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'home/js/wow.min.js' %}"></script>
  <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'home/js/smoothscroll.js' %}"></script>
  <script src="{% static 'home/js/custom.js' %}"></script>
  <script type="text/javascript">
      function add(id,ope,price){
        var Myelement = document.getElementById(id);
        var tot = document.getElementById("total-amount");
        if ((ope == 'add') & (parseInt(Myelement.value) < 3 ) ){
            valu = parseInt(Myelement.value) + 1
            document.getElementById("total-amount").innerHTML = parseInt(tot.innerHTML) + parseInt(price)
            Myelement.setAttribute('value',valu)
        }
        
        if ((ope == 'sub') & (parseInt(Myelement.value) > 1 )){
            valu = parseInt(Myelement.value) - 1
            document.getElementById("total-amount").innerHTML  = parseInt(tot.innerHTML) - parseInt(price)
            Myelement.setAttribute('value',valu)
        }
      }
   </script>
</body>
</html>
