.overall{
  width: 100%;
}
.float-container{
    padding: 20px;
    width: 100%;
  }
.float-child:first-child{
  width: 75%;
  float: left;
  padding: 20px;
  border: 2px solid black;
  min-height: 700px;
}
.float-child.two{
    margin-left: 20px;
    width: 23%;
    float: right;
    padding: 20px;
    border: 2px solid black;
  }

.cart{
    margin-right: 10px;
    max-height: 310px;
    min-height: 310px;
    border: 3px dotted greenyellow;
    border-radius: 4px;
    background-color: crimson;
}

.itemp{
  display: inline;
  color: white;

}
.rmbtn{
  display: inline;
  color: red;
  border: 1px solid red;
}