<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>invoice receipt</title>
</head>

<body>
    <div  style="margin-top:30px;max-width: fit-content; max-width:300px !important; height: fit-content; border: 1px solid black; ;">
        <div style="text-align: center; margin-top: 40px;" >
            <strong>Oromia Bureaus' Cafeteria</strong>
        </div>
        <div  style=" margin-bottom: 40px; text-align: center;">
            <strong>Service</strong>
        </div>
        <div style=" display:flex; justify-content:space-between; margin-top: 30px;">
            <div  style=" display:flex; justify-content: space-between; width:100%;">
                <div style="display:inline; max-width: fit-content; padding-left: 5%;">
                    <span>Payment No.</span>
                    <p>6575684</p>
                </div>
                <div style="display:inline; max-width: fit-content; padding-right: 5%;">
                    <span>Payment Date</span>
                    <p>feb, 27/2022 6:48 AM</p>
                </div>
            </div>
        </div>
        <hr style="margin: 20px;"/>
        <div style="margin-top: 10px; margin-left: 20px;">
            <div class="row">
                <div class="col-sm">
                    <strong>
                        To: John smith
                    </strong>
                    <p>
                    B1-F5-R1, 
                        <a href="#">
                            example@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
        <div style=" margin: 20px;" >
            <div class="headers clearfix" style="display:flex; justify-content: space-between;">
                <div style="display:flex; justify-content: space-between; width:100%;">
                    <div  style="display: inline;">Description</div>
                    <div  style="display: inline;">Quantity</div>
                    <div  style="display: inline;">Amount</div>
                </div>
            </div>
            <hr />
            <div  >
                <div style="display:flex; justify-content: space-between; width:100%;margin-top: 10px;">
                    
                    <div style="display: inline;">
                        ader
                    </div>
                    <div style="display: inline;">
                        3
                    </div>
                    <div style="display: inline;">
                        90 Br
                    </div>
                </div>
                <div style="display:flex; justify-content: space-between; width:100%; margin-top: 10px;">
                    
                    <div  style="display: inline;">
                        aderer
                    </div>
                    <div  style="display: inline;">
                        3
                    </div>
                    <div style="display: inline;">
                        90 Br
                    </div>
                </div>
            </div>
            <hr style="margin-top: 20px;"/>
            <div  style="padding-left: 50%; text-align: right; width: 50%;">
                <div style="border:none;display: flex; justify-content: space-between;">
                    Subtotal <span>450 Br</span>
                </div>
                <div style="border:none;display: flex; justify-content: space-between;">
                    Delivery <span>5 Br</span>
                </div>
                <div style="border:none;display: flex; justify-content: space-between;">
                    Tax <span>2.00%</span>
                </div>
                <div style="border:none;display: flex; justify-content: space-between;">
                    Total <span><u>500</u> Br</span>
                </div>
            </div>
        </div>
        <h5 style="text-align:center; border:none;">Thank you for using our service </h5>
    </div>
</body>
</html>