
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="/static/img/icons/logo.ico"/>
</head>
<body >
    <div style="width: 300px;">
        <h3 style="width: 300px; text-align: center; margin-top: 40px;">Oromia Bureaus' Cafeteria</h3>
        <h3 style="width: 300px; text-align: center; margin-bottom: 40px;">Service</h3>
        <h4 style="width: 300px; margin-left: 20px; text-align:left;">Payment No.</h4>
        <p style="margin-left: 20px; text-align:left;">2934848</p>
        <h5 style="margin-left: 40px; text-align:right;">Payment Date</h5>
        <p style="margin-left: 40px; text-align:right;">March 26, 2022, 2:25 p.m.</p><br />
        <hr style="margin-left: 30px; color: blue;"/>
        <h4 style="text-align: left; margin-left: 20px;">To: Abdela Sabir</h4>
        <h5 style="text-align: left; margin-left: 40px;">B1-F1-R1, abdela@gmail.com</h5>
        <table style="width: 300px">
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price/q</th>
            </tr>
            <hr />
            
            <tr>
                <th>Coffee</th>
                
                <th>1</th>
                <th>5</th>
                
            </tr>
            
            <tr>
                <th>Kinche</th>
                
                <th>1</th>
                <th>25</th>
                
            </tr>
            
            <tr>
                <th>Kita</th>
                
                <th>1</th>
                <th>15</th>
                
            </tr>
            
        </table>
        <hr style="color: rgb(86, 120, 136);"/>
        <h4 style="margin-left: 40px; text-align:right;">Subtotal: 45.0 Br</h4>
        <h4 style="margin-left: 40px; text-align:right;">Delivery:   5 Br</h4>
        <h4 style="margin-left: 40px; text-align:right;">Tax:        2.0%</h4>
        <h4 style="margin-left: 40px; text-align:right;"><b>Total:    <u>50.9 Br</u></b></h4>
    </div>
    <h4 style="margin-left: 40px; text-align:center;">Thank you for using our service.</h4>
</body>
</html>