
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="/static/img/icons/logo.ico"/>
</head>
<body >
    <div style="width: 300px;">
        <h3 style="width: 300px; text-align: center; margin-top: 40px;">OBCafe Report</h3>
        <h3 style="width: 300px; text-align: center; margin-bottom: 40px;">For </h3>
        <h4 style="width: 300px; margin-left: 20px; text-align:left;">Date Generated:</h4>
        <p style="margin-left: 20px; text-align:left;">2022-03-11</p>
        
        <table style="width: 300px">
            <tr>
                <th>No_</th>
                <th>Description</th>
                <th>In number</th>
            </tr>
            <hr />
            <tr>
                <th>1</th>
                <th>Number of orders</th>
                <th>0</th>
            </tr>
            <tr>
                <th>2</th>
                <th>Most sold meal</th>
                <th>Aynet: 3</th>
            </tr>
            <tr>
                <th>3</th>
                <th>Total purchase made in birr</th>
                <th>0</th>
            </tr>
            <tr>
                <th>4</th>
                <th>Total sale in birr</th>
                <th>271.2</th>
            </tr>
            <tr>
                <th>5</th>
                <th>Number of blocked orders</th>
                <th>1</th>
            </tr>
            <tr>
                <th>6</th>
                <th>Total number of customers who order online</th>
                <th>3</th>
            </tr>
            <tr>
                <th>7</th>
                <th>Delivered orders</th>
                <th>2</th>
            </tr>
            <tr>
                <th>8</th>
                <th>New customers joined the online system</th>
                <th>1</th>
            </tr>
        </table>
    </div>
    <h4 style="margin-left: 40px; text-align:center;">Make sure to print! </h4>
    <h4>Manager: Harun Abdu</h4>
    <h4>Signature:</h4><hr style="width: 100px"/>
</body>
</html>